body {
    padding: 0;
    margin: 0;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 10% auto;
}

#header {
    font-size: 50px;
    text-align: center;
    background-color: #F58800;
}

#control-panel {
    display: flex;
    justify-content: stretch;
}

#add-book {
    background-color: #F8BC24;
    border: 0;
    flex: 1;
    font-size: 30px;
}

#add-book:active {
    background-color: #967216;
}

#bookshelf {
    height: auto;
    display: flex;
    gap: 30px;
    padding: 30px;
    
}

.book-container {
    height: 80px;
    width: auto;
    background-color: #1A4645;
    color: white;
    padding: 30px;
    border-radius: 10px;
}


.popup-new-book {
    /* position: relative; */
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
    max-width: auto;
    /* padding: 20px; */
    background-color: #fff;
  }

  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }