:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#blank {
  background-color: rgba(0,0,0,.5);
}

#container {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 10% auto;
}

#header {
    font-size: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #304b59;
    color: white;
}

#control-panel {
    display: flex;
    justify-content: stretch;
}


#add-book {
    background-color: #cbe3e8;
    border: 0;
    flex: 1;
    font-size: 30px;
    z-index: 10;
    box-shadow: 0px 15px 10px -15px #111;
}

#add-book:hover {
  background-color: #93a7aa;
}

#add-book:active {
    background-color: #768486;
}

#bookshelf {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
    background-color: #ffffff;
}

.book-container {
    display: flex;
    height: 100px;
    width: auto;
    background-color: #f3f7f8;
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px #111;
}

.book-title, .book-author, .book-pages {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ce5830;
}

.book-read {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-right: 1px solid #ce5830; */
}

.bookshelf-checkbox {
  width: 50px;
  height: 50px;
  background-color: green;
}

.remove-book {
  background-color: #ca4316;
  color: white;
}

.popup-new-book {
    /* position: relative; */
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 50px;
    max-width: auto;
    /* padding: 20px; */
    background-color: #fff;
  }

  .formContainer h1 {
    margin-bottom: -10px;
  }

  #forms {
    display:flex;
    flex-direction: column;
    gap: 30px;
  }

  #title-form, #author-form, #pages-form {
    display:flex;
    flex-direction: column;
  }

  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }